{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
<h1>Daftar Users</h1>
<a href="{% url 'user_service:create_user' %}">+ Buat User Baru</a>
<table>
  <tr><th>ID</th><th>Nama</th><th>Email</th><th>Role</th><th>Aksi</th></tr>
  {% for u in users %}
  <tr>
    <td>{{ u.id }}</td>
    <td>{{ u.namaLengkap }}</td>
    <td>{{ u.email }}</td>
    <td>{{ u.role }}</td>
    <td>
      <a href="{% url 'user_service:update_role' u.id %}">Edit</a> |
      <form action="{% url 'user_service:delete_user' u.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Hapus</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
